/* Styles for blocks/group.liquid. */

.group {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100%;
}

.group--horizontal {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding);
}

.group--vertical {
  flex-direction: column;
  align-items: var(--alignment);
  padding: var(--padding) 0;
}

.group--boxed {
  background-color: var(--color-background);
  border-width: var(--style-border-thickness-text-boxes);
  border-style: solid;
  border-color: color-mix(in srgb, var(--color-border) var(--style-border-opacity-text-boxes), transparent);
  border-radius: var(--style-border-radius-text-boxes);
  box-shadow: var(--style-shadow-text-boxes);
}
