/* Styles for sections/search.liquid. */

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.search-results .prev,
.search-results .page,
.search-results .next {
  grid-column: 1 / -1;
}
